        body {
              padding-top: 56px; 
          }
      

        
        
      /* Image section*/
      .image-section{
        background: url("/background.png");
        height: 33rem;
        background-position: center center;
        background-attachment: fixed;
    }
    /* Custom styles for the sections */
    section {
        margin-bottom: 40px;
    }

    /* Style for the call-to-action button */
    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }

    .btn-primary:hover {
        background-color: #0056b3;
        border-color: #0056b3;
    }
   
    .navbar-dark .navbar-nav .nav-item .nav-link {
     
       text-transform: uppercase;
      
       font-size: 15px;
       margin-top: 6px;
    }

    .navbar-dark .navbar-nav .nav-item:hover .nav-link {
        color: whitesmoke;
        text-decoration: underline;
    }
    #carouselExample {
        height: 120vh; /* 30% of the viewport height */
        margin-bottom: 30px;
    }

    .carousel-inner {
        height: 100%;
    }

    .carousel-item {
        height: 100%;
    }

    .carousel-item img {
        object-fit: cover;
        height: 100%;
    }

    .carousel-caption {
        background: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 20px;
       
    }

    @media (max-width: 668px) {
        body {
    background-color: whitesmoke; /* Test background color */
}
.carousel-item img {
    object-fit: cover;
    height: 600px;
}

.carousel-caption {
   
    margin-bottom: 1px !important;
    padding : 2px;
}
.contact-img img{
    width: 380px;
}
}